.header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}
 
/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
 
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}
 
/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}
 
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
 
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }

  .footer {
    margin-top: 2rem;
  }
}