<div class="search-form">

  <h2>Conduct a search...</h2>

  <form autocomplete="off" (ngSubmit)="submitForm()">

    <div class="form-group row">
      <label for="subreddits" class="col-sm-3 col-form-label">Subreddit(s)</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="subreddits" class="form-control" name="subreddits" id="subreddits" placeholder="Subreddit(s)" autofocus>
      </div>
    </div>

    <div class="form-group row">
      <label for="number-of-posts" class="col-sm-3 col-form-label">Number of posts</label>
      <div class="col-sm-9">
        <input type="number" [(ngModel)]="numberOfPosts" class="form-control" name="number-of-posts" id="number-of-posts" placeholder="Number of posts" min="1" max="100">
      </div>
    </div>

    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-3 pt-0">Sort by...</legend>
        <div class="col-sm-9">
          <div class="form-check" *ngFor="let sort of sorts">
            <input class="form-check-input" type="radio" name="sort" id="{{ sort }}" value="{{ sort }}" (change)="setSortValue($event)">
            <label class="form-check-label" for="{{ sort }}">{{ sort }}</label>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="form-group row" *ngIf="sort === 'top' || sort === 'controversial'">
      <label for="timespan" class="col-sm-3 col-form-label">Timespan</label>
      <div class="col-sm-9">
        <select class="form-control" name="timespan" id="timespan" (change)="setTimespan($event)">
          <option value="" selected disabled>select a timespan</option>
          <option *ngFor="let time of timespans" value="{{ time }}">{{ time }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <input type="submit" class="btn btn-primary btn-block btn-lg">
      </div>
    </div>

  </form>
</div>