a, a:hover, a:focus, a:active, a:visited, a:link {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.stickied {
    margin-right: 5px;
}

.comments {
    color: #9e9e9e;
}

.upvotes {
    color: #ff8b5f;
}