<div class="list-group">
  <div *ngFor="let post of posts; let i = index" class="list-group-item list-group-item-action flex-column align-items-start" (click)="selectedPost = i" [class.active]="selectedPost == i">

    <a href="https://old.reddit.com{{ post.permalink }}?sort=top" target="_blank">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ post.title }}</h5>
        <!-- <small>{{ post.datePosted | date: 'medium' }}</small> -->
      </div>

      <p class="mb-1">{{ post.subreddit_name_prefixed }}</p>

      <div class="d-flex w-100 justify-content-between">
        <small class="upvotes">+{{ post.ups }}</small>
        <span *ngIf="post.stickied" class="badge badge-success">Stickied</span>
      </div>
    </a>

  </div>
</div>
